// Josefin Sans light (300), regular (400) and bold (700) for headings and navigation
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
// @import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
// Roboto for text regular (400) and bold (700)
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

$main-font: 'Playfair Display', serif;
// $main-font: 'Rubik', sans-serif;
$text-font: 'Roboto', sans-serif;

* {
	font-family: $text-font;
}

.text {
	font-family: $text-font;
}

html, .root {
  font-size: 18px;
  line-height: 25px;
}

body, .article {
  font-family: $text-font;
	font-size: 1em;
  line-height: 1.38888889em;
  // max-width: 560px;
  margin: auto;
}
h1, .h1 {
  font-size: 4.22222222em;
  line-height: 1.31578947em;
  margin-top: 0.32894737em;
  margin-bottom: 0.65789474em;
}
h2, .h2 {
  font-size: 2.61111111em;
  line-height: 1.06382979em;
  margin-top: 0.53191489em;
  margin-bottom: 0.53191489em;
}
h3, .h3 {
  font-size: 1.61111111em;
  line-height: 1.72413793em;
  margin-top: 0.86206897em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.38888889em;
  margin-top: 1.38888889em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.38888889em;
  margin-top: 1.38888889em;
  margin-bottom: 0em;
}
h1, h2, h3, h4, h5 {
	font-family: $main-font;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
	margin-bottom: 1.38888889em;
  font-family: $text-font;
  line-height: 1.38888889em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}