<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <nav id="menu">
        <div class="left">
            <a href="#" class="logo"><img src="/assets/images/faith_logo.png" alt="Faith Baptist Academy" width="200px"></a>
            <ul>
                <li><a href="#">Academics</a></li>
                <li><a href="#">Admissions</a></li>
                <li><a href="#">About Us</a>
                    <ul>
                        <li><a href="#">Our Beliefs</a></li>
                        <li><a href="#">Our Staff</a></li>
                        <li><a href="#">Our Church</a></li>
                    </ul>
                </li>
                <li><a href="#">Updates</a></li>

            </ul>
        </div>
        <div class="right">
            <a href="#" class="cta-button">Schedule A Tour</a>
        </div>
    </nav>
    <main class="page-content" aria-label="Content" id="panel">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
